:root {
  --ti-cursor-color: #9494e0;
}

body {
  background: #4443a6;
}

body * {
  color: #9494e0;
}


h4:hover {
  color: #cfd2d0;
  background: #5151ad;
}

h1, h2, h4 {
  text-shadow: .1rem .1rem .3rem #9494e0;
}