:root {
  --ti-cursor-color: #f18a41;
}

body {
  background: radial-gradient(#1f1104, #0f0802);
}

body * {
  color: #f18a41;
}


h4:hover {
  color: #cfd2d0;
  background: #4a2a0d;
}

h1, h2, h4 {
  text-shadow: 0 .2rem 1rem #f18a41;
}