:root {
  --ti-cursor-color: #fff;
}

body {
  background: #111;
  background: radial-gradient(#1f1f1f, #111);
}

body * {
  color: #fff;
}


h4:hover {
  color: #cfd2d0;
  background: #4d4c4d;
}

h1, h2, h4 {
  text-shadow: 0 .2rem 1rem #fff;
}