body, html {
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.1fr 1.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "name"
    "secret"
    "meta";
  place-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.name {
  grid-area: name;
  text-align: center;
}

.name h1 {
  margin: 3rem;
}

.name h2 {
  margin: 0;
}

.secret {
  grid-area: secret;
}

.meta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr .6fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "github"
    "email"
    "linkedin"
    "aoty";
  grid-area: meta;
  place-items: center;
}

.meta * {
  margin: .1rem;
}

.github {
  grid-area: github;
}

.linkedin {
  grid-area: linkedin;
}

.aoty {
  grid-area: aoty;
}

.email {
  grid-area: email;
}